@{
    ViewData["Title"] = "Gerenciamento de tarefas";
}

<section class="home">
   
    <div class="home-text">
        <h4 class="text-h4">Gerenciamento de Tarefas</h4>
        <h1 class="text-h1">Crie tarefas personalizadas para organização pessoal e profissional</h1>
        <a class="home-btn" asp-action="Login" >Começar</a>
    </div>
    <div class="home-img">
        <img src="~/img/background2.png" alt="Gerenciamento">
    </div>

</section>





