@{
    ViewData["Title"] = "Sobre";
}
<div class="conteudo-sobre">
    <h2>Organize e Gerencie Suas Tarefas Pessoais com Facilidade</h2>
    <p>Este site foi desenvolvido para ajudar você a criar, organizar e acompanhar suas tarefas diárias. Com uma interface intuitiva e ferramentas poderosas, você pode manter todas as suas responsabilidades em um só lugar, facilitando o gerenciamento do seu tempo e aumentando sua produtividade.</p>


</div>